<div style="z-index: 2">
    {% if message.user_id != g.user.id %}
      {% if g.user in message.liked_users %}
        <form action="/users/unlike/{{message.id}}" method="POST">
          {{ g.csrf_form.hidden_tag() }}
          <button style="background-color: transparent; border: none">
            <i class="fas fa-feather fa-lg" style="color: rgb(29, 161, 242)"></i>
          </button>
        </form>
      {% else %}
        <form action="/users/like/{{message.id}}" method="POST">
          {{ g.csrf_form.hidden_tag() }}
          <button style="background-color: transparent; border: none">
            <i class="fas fa-feather fa-lg" style="color: grey"></i>
          </button>
        </form>
      {% endif %}
    {% endif %}
</div>